* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}


.navbar {
  background: linear-gradient(
    90deg,
    rgb(12, 158, 255) 0%,
    rgb(12, 158, 220) 100%
  );
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.navbar-logo {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.navbar-logo:hover {
  transition: 0.2s;
  color: rgb(255, 255, 255) !important;
}

.fa-home {
  margin-left: 0.1rem;
  margin-bottom: 2px;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  width: 60vw;
  justify-content: end;
  margin-right: 1rem;
}

.nav-item {
  height: 80px;

  margin-top: 0px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  margin-top: 0px;
}

.nav-links:hover {
  border-bottom: 4px solid rgb(108, 203, 255);
  transition: 0.2s ease-out;
  color: #fff !important;
}

.fa-bars {
  color: #fff;
}

.nav-links-squished-sign-up {
  display: none;
}


.nav-links-squished-sign-out {
  display: none;
}

.menu-icon {
  display: none;
}

.sign-up-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
  width: 110px;
  height: 55px;
}

.hidden{
  display:none;
}

.sign-out-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
  width: 117px;
  height: 55px;
}


.sign-up-button:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}

.sign-out-button:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}

.loginModal {
  height: 350px;
}

.sign_up {
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 480px;
}

.sign_in {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 480px;
}

.btn-login {
  display: flex;
  justify-content: space-between;
}

label {
  color: #242424 !important;
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
}

.sign_up_hidden {
  display: none;
}

.sign_in_hidden {
  display: none;
}

.emailMsgHidden {
  display: none;
}

.emailMsgShown {
  display: block;
  margin-top: 250px;
  font-size: 100%;
}

.btn-login {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.emailInUse {
  margin-top: 250px;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .sign-up-button {
    display: none;
  }

  .sign-out-button{
    display:none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: absolute;
    left: -100%;
    top: 80px;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(11, 128, 206, 0.747);
    height: 91.42%;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    margin-top: 0px;
  }

  .nav-links:hover {
    background-color: rgba(41, 165, 248, 0.609);
    color: rgb(255, 255, 255);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    justify-content: end;
    top: 10px;
    left: 0;
    transform: translate(9%, 45%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(-100%, 45%);
    font-size: 2.2rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    margin-top: -5px;
  }

  .nav-links-squished-sign-up {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  
  .nav-links-squished-sign-out {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-squished-sign-up:hover {
    background: #fff;
    color: #242424;
    transition: 0.25s;
  }

  
  .nav-links-squished-sign-out:hover {
    background: #fff;
    color: #242424;
    transition: 0.25s;
  }
}
