html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    position: static;
    LEFT: 50%;
    text-align: center;
}

#map-canvas {
    height: 500px;
    width: 500px;
    position: static;
    LEFT: 50%;
    RIGHT: 50%;
    margin-left: -250px;
    border-style: solid;
    
}

#footer {
    position: static;
    LEFT: 50%;
    text-align: center;
}
